.place_center {
  justify-content: center;
}

/* background */
.gradient {
  background-color: #004d78;
  background-image: linear-gradient(
    108.71deg,
    #00c4cc 1.05%,
    rgba(0, 196, 204, 0) 100%
  );
  mix-blend-mode: normal;
  min-height: 100vh;
  min-width: 100vh;
}

.no_padding {
  padding-top: 0px !important;
}

.top_row {
  background: #06647f;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 20px !important;
  padding-right: 10px !important;
}

/* header */
.logo_padding {
  padding: 20px;
}

.logo_size {
  max-height: 120px;
}

/* maintext align left */
.text_left {
  text-align: left;
}

/* main Login Pg Buttons */
.main_button {
  background: #084163;
  box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
  border-radius: 20px;
  stroke: none;
  width: 164px;
  height: 48px;
  border-width: 0px !important;
  margin-left: 0px;
  color: #ffffff;
}

.signup_button {
  background: #084163;
  box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
  border-radius: 20px;
  stroke: none;
  min-width: 164px;
  min-height: 48px;
  border-width: 0px !important;
  margin-left: 0px;
}

.main_button:hover {
  background-color: #c6fdff;
  color: #000000;
}

.signup_button:hover {
  background-color: #c6fdff;
  color: #000000;
}

._button:hover {
  background-color: #c6fdff;
  color: #000000;
}

/* words style */
.site_title {
  margin-left: 70px;
  margin-right: 20px;
  justify-self: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(3rem, 2.2rem + 5vw, 6rem);
  line-height: clamp(3rem, 1rem + 7vw, 7rem);
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
}

.loginbox_title {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.8rem, 1.5rem + 3vw, 2.3rem);
  line-height: 30px;
}

.page_title {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 1rem + 5vw, 2rem);
  line-height: clamp(1rem, 1rem + 6vw, 3rem);
  color: #ffffff;
  text-align: center;
}

.site_text {
  margin-left: 70px;
  margin-top: 0px;
  color: #ffffff;
}

.align_left {
  color: #000000;
  text-decoration: none;
}

.align_right {
  color: #000000;
  text-decoration: none;
}

/* white box for login/signup/password */
.login_rectangle_login {
  width: clamp(280px, 60vw, 350px);
  height: 100%;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 50px;
  padding-top: 50px;
  text-align: center;
  margin-left: 60px !important;
}

.login_rectangle_signup {
  width: clamp(280px, 60vw, 350px);
  height: 100%;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 50px;
  padding-top: 50px;
  text-align: center;
}

.login_box_row {
  padding: 5px !important;
}

.login_box_row2 {
  padding: 5px !important;
}

.login_box_row3 {
  padding: 5px !important;
}

/*dashboard buttons*/
.dashboard_color1 {
  background: #01b8c2;
}

.dashboard_color2 {
  background: #04859a;
}

.dashboard_color3 {
  background: #074a6a;
}

.dashboard_color4 {
  background: #09284f;
}

.dashboard_background {
  border: 1px solid #ffffff;
  border-radius: 0px 50px;
  width: clamp(180px, 25vw, 224px) !important;
  min-height: 288px;
  cursor: pointer;
}

.dashboard_background:hover {
  box-shadow: 8px 8px 10px 0px #fffaec;
}

.dashboard_panel1 {
  padding-top: 8%;
  text-align: center;
  justify-content: center;
}

.dashboard_panel2 {
  padding-top: 8%;
  justify-content: center;
  text-align: center;
}

.dashboard_panel3n4 {
  text-align: center;
  padding-top: 8%;
}

.block_display {
  display: block;
}

/* dashboard text */
.brand_names {
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  font-family: "Bungee";
}
.brand_names3 {
  padding-top: 24px;
  text-align: center;
  color: #ffffff;
  font-family: "Bungee";
}
.brand_names4 {
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "Bungee";
}

/* to make text act as button but looks like text */
.button_astext {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #000000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  margin-left: -12px !important;
}

.button_astext_right {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #000000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  margin-left: -42px !important;
  padding-right: 15px !important;
}

.button_astext_signupLogin {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #000000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  margin-left: -52px !important;
  padding-right: 5px !important;
}

.button_astext_signupLogin:hover {
  box-shadow: inset 130px 0 0 0 #c6fdff;
}

.button_astext:hover {
  box-shadow: inset 120px 0 0 0 #c6fdff;
}

.button_astext_right:hover {
  box-shadow: inset 130px 0 0 0 #c6fdff;
}

/* dashboard images  */
.dashboard_img {
  padding-top: 20px !important;
}

/* incellderm page */
.text-left {
  display: flex;
  justify-content: left;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px !important;
}

.topnav-right {
  float: right;
  text-align: center;
  align-items: baseline;
  /* margin-top: 40px !important; */
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

.nav-text {
  display: flex;
  justify-self: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000000;
  margin-top: 60px;
  min-height: 30px;
}

/* tabs on Incellderm, Radiansome, BotaLab, Vitamins page */
.tab_background {
  background: #00c4cc;
  box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
  max-height: 40px;
  justify-items: right !important;
  margin-top: 80px;
}

.tab_background:hover {
  background: #c6fdff;
}

.tab_background:active {
  background: #c6fdff;
}

.first_tab {
  width: 120px;
  padding: 6px;
}

.second_tab {
  width: 130px;
  padding: 6px;
}

.third_tab {
  width: 110px;
  padding: 6px;
}

.fourth_tab {
  width: 130px;
  padding: 6px;
}

/*inventory page*/
.inventory_rectangle {
  min-width: 100vh;
  min-width: 50rem;
  height: 100%;
  min-height: 70vh;
  background: #ffffff;
  border-radius: 30px 30px;
  padding: 5px 16px;
  opacity: 0.8;
}

.table_row_header {
  font-weight: bold !important;
}

.img_zoom:hover {
  transition: transform 0.3s; /*Animation*/
  height: auto;
  width: auto;
}

.plus_button {
  margin: 2px !important;
  padding: 0px 5px !important;
  background-color: #0b88aa !important;
  color: white !important;
}

.plus_button:hover {
  background-color: #9ad4e4 !important;
  color: white !important;
}

.text_rights {
  padding: 5px;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
}

/*brand_name*/
.inventory_brand_name {
  color: #000000;
  font-family: "Bungee";
  font-style: normal;
  /* font-weight: 200px; */
  font-size: clamp(1rem, 1rem + 5vw, 3rem);
  line-height: 60px;
  text-align: left;
  padding: 5px;
}

.hover:hover {
  background-color: #44d7ff !important;
  color: #000000 !important;
}

/* @media screen and (min-width: 20em) and (max-width: 30.99em) {
  .site_title {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .site_text {
    margin-left: 38px;
    margin-top: -30px;
    color: #ffffff;
  }

  .main_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 50px;
    margin-top: -40px;
  }

  .signup_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 20px;
    margin-top: -40px;
  }

  .login_rectangle {
    width: 280px;
    height: 300px;
    margin-left: 18px;
  }
}

@media screen and (min-width: 31em) and (max-width: 48.99em) {
  .site_title {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 70px;
    line-height: 65px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .site_text {
    margin-left: 45px;
    margin-top: -30px;
    color: #ffffff;
  }

  .main_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 70px;
    margin-top: -40px;
  }

  .signup_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 20px;
    margin-top: -20px;
  }

  .login_rectangle {
    width: 350px;
    height: 300px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 49em) and (max-width: 62em) {
  .site_title {
    margin-left: 45px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 75px;
    line-height: 65px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .site_text {
    margin-left: 70px;
    margin-top: -30px;
    color: #ffffff;
  }

  .main_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 70px;
    margin-top: -40px;
  }

  .signup_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 20px;
    margin-top: -20px;
  }

  .login_rectangle {
    width: 350px;
    height: 300px;
    margin-left: 60px;
  }
}
*/
/* @media screen and (min-width: 62.01em) {
  .site_title {
    margin-left: 45px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 84px;
    line-height: 65px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .site_text {
    margin-left: 70px;
    margin-top: -30px;
    color: #ffffff;
  }

  .main_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 70px;
    margin-top: -40px;
  }

  .signup_button {
    width: 120px;
    height: 32px;
    border-width: 0px !important;
    margin-left: 20px;
    margin-top: -20px;
  }

  .login_rectangle {
    width: 350px;
    height: 300px;
    margin-left: 60px;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
